@media screen and (min-width: 481px) and (max-width: 768px){
    body {
        background-image: url("https://mykyivregion.com.ua/imagecache/large/img/d1408bc37813e343f087517cfd399a891629706394.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 80vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(1, 0.5, 0, 0.5);
        border: solid 2px darkgrey;
        border-radius: 5px;
        gap: 40px;
    }

    .Add {
        width: 550px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;

    }

    .span {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;


    }

    input#city {
        width: 350px;
        height: 60px;
        border: solid 2px darkgrey;

    }

    .Add button {
        width: 110px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px darkgrey;
        border-radius: 5px;

    }

     label, p{
         margin-left: 10px;
     }

    .Sort {
        width: 550px;
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .List {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        width: 350px;
        height: 350px;
        border: solid 2px darkgrey;
    }

    ul {
        list-style: none;
        padding: 0;
        overflow-y: auto;
    }

    li {
        padding: 10px;
        background: white;
        margin: 5px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 345px;
    }

    li.selected {
        background-color: #7bb7c8;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    .Sort button {
        width: 130px;
        height: 60px;
        border: solid 2px darkgrey;
        border-radius: 5px;
        font-size: 14px;


    }
}

