@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    body {
        background-image: url("https://i.pinimg.com/736x/99/78/bf/9978bf863b5f78505267b2dd785c06a0.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 40vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(1, 0.5, 0, 0.5);
        border: solid 2px darkgrey;
        border-radius: 5px;
        gap: 35px;
    }

    .Add {
        width: 700px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 25px;

    }

    .span {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

    }

    label {
        color: white;
        margin-left: 10px;
    }

     p, h2 {
        color: white;
         margin-left: 10px;
    }

    input#city {
        width: 400px;
        height: 50px;
        border: solid 2px darkgrey;
        border-radius: 5px;
        margin-top: 15px;
    }

    .Add button {
        width: 100px;
        height: 40px;
        margin-top: 38px;
        margin-left: 20px;
        border: solid 2px darkgrey;
        border-radius: 5px;

    }

    .Sort {
        width: 700px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

    .spanList{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

    }

    .List {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        width: 400px;
        height: 240px;
        border: solid 2px darkgrey;
        border-radius: 5px;
        background: white;
        margin-top: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
        overflow-y: auto;
    }

    li {
        padding: 10px;
        background: white;
        margin: 5px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 395px;


    }

    li.selected {
        background-color: #7bb7c8;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;
    }

    .Sort button {
        width: 150px;
        height: 40px;
        margin-top: 18px;
        margin-left: 20px;
        border: solid 2px darkgrey;
        border-radius: 5px;

    }

