@media screen and (min-width: 481px) and (max-width: 768px){

    .wrapper {
        width: 80vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: whitesmoke;
        border: solid 2px darkgrey;
    }

    .Add {
        width: 450px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*gap: 23px ;*/


    }

    .form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

    }

    input#name {
        width: 300px;
        height: 20px;
        border: solid 2px darkgrey;

    }

    .Add button {
        width: 100px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border: solid 2px darkgrey;
        border-radius: 5px;
        /*background-color: rgb(248, 239, 239);*/
    }

    .Sort {
        width: 450px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*gap: 20px;*/

    }

    .List {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    input#nameList {
        width: 300px;
        height: 170px;
        border: solid 2px darkgrey;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Sort button {
        width: 100px;
        height: 20px;
        /*margin-top: 9px;*/
        /*margin-left: 10px;*/
        border: solid 2px darkgrey;
        border-radius: 5px;
        font-size: 14px;
        /*background-color: rgb(248, 239, 239);*/
    }
}

